<div class="form-container">
  <div class="row mb-5 mt-5 text-center">
    <div class="col-md-12">
      <h2>Shopping List</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 fw-bold fs-5">
      <h6>
        Amount of food items to buy: <%= @food_lists.to_ary.count %>
      </h6>
    </div>
    <div class="col-md-6 text-end fw-bold fs-5">
      <h6>
        Total value of food needed: $<%= @total_price %>
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% @food_lists.each do |item| %>
            <tr>
              <td><%= item[:name] %></td>
              <td><%= item[:total_quantity] %><%= item[:measurement_unit] %></td>
              <td>$<%= item[:price] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
