<div class='recipe-details'>
  <h2 class='heading'><%= recipe.name.capitalize %></h2>
  <div class='summary'>
    <p class='describe'>Public: <span class='status'><%= @recipe.public ? 'Yes' : 'No' %></span></p>
    <span class='describe'>Preparation time: <%= recipe.preparation_time %></span>
    <span class='toggle'>
      <%= button_to toggle_public_recipe_path(@recipe), method: :patch, class: 'toggle-public-btn' do %>
        <%= @recipe.public? ? 'Make Private' : 'Make Public' %>
      <% end %>
    </span>
    <p class='describe'>Cooking time: <%= recipe.cooking_time %></p>
  </div>

  <div>
    <p><%= recipe.description %></p>
  </div>

  <% if current_user = @recipe.user %>
    <div class='buttons-details'>
      <%= button_to "Generate Shopping list", general_shopping_list_path, method: :get, class: 'shopping-list-btn' %>
      <%= button_to "Add ingridient", new_recipe_food_path(recipe), method: :get, class: 'ingredient-btn' %>
    </div>
  <% end %>

  <hr/>

  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <tbody>
      
    </tbody>
  </table>
</div>
