<%
=begin%>
 <div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

</div> 
<%
=end%>

<div>
  <h2><%= recipe.name %></h2>
  <div>
    <span>Preparation time: <%= recipe.preparation_time %></span>
    <span>Public switch</span>
  </div>
  <p>Cooking time: <%= recipe.cooking_time %></p>

  <div>
    <p><%= recipe.description %></p>
  </div>

  <%
=begin%>
 <div>
    <%= button_to "Generate shopping list", model %>
    <%= button_to "Add ingredient", model %>
  </div> 
<%
=end%>

  <hr/>

  <table></table>
</div>
