<tr class='food-item'>
  <td><%= food.name.capitalize %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.quantity %></td>
  <td><%= food.price %></td>
  <td>
    <% if can?(:delete, food) %>
    <% if food.recipe_foods.empty? %>
      <%= button_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm text-danger' %>
    <%end%>
    <%else%>
      No actions
    <% end %>
  </td>
</tr>